In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

In [2]:
# NASA Mars News

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [4]:
# make the url

url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
# make beautiful soup

html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# get the title

slide = soup.select_one("ul.item_list li.slide")
title = slide.find('div', class_="content_title").get_text()
print(title)

NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars

In [7]:
# get the paragraph

paragraph = soup.find('div', class_="article_teaser_body").get_text()
print(paragraph)

For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design.

In [8]:
# --------------------------

In [9]:
# JPL Mars Space Images - Featured Image

In [10]:
# make the url

url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [11]:
# find and click the full image

full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [12]:
# find and click the more info

browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

C:\Users\jimi_\AppData\Local\Programs\Python\Python39\lib\site-packages\splinter\driver\webdriver\__init__.py:490: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [13]:
# make beautiful soup

soup = bs(browser.html, 'html.parser')

In [14]:
# find the main image

main_image = soup.body.find('img', class_="main_image")
main_image

<img alt="The view was obtained during NASA's Cassini orbiter's flyby on July 24, 2012, also called the 'T85' flyby by the Cassini team. This was the most intense specular reflection that Cassini had seen to date." class="main_image" src="/spaceimages/images/largesize/PIA18433_hires.jpg" title="The view was obtained during NASA's Cassini orbiter's flyby on July 24, 2012, also called the 'T85' flyby by the Cassini team. This was the most intense specular reflection that Cassini had seen to date."/>

In [15]:
# get image address

image_address = main_image['src']
image = f'https://www.jpl.nasa.gov{image_address}'
image

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18433_hires.jpg'

In [16]:
# --------------------------

In [17]:
# Mars Weather

In [18]:
# make the url

url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [19]:
# make beautiful soup

while True:
    if not browser.is_element_not_present_by_tag('article'):
        break
twit_html = browser.html
soup = bs(twit_html, 'html.parser')
tweets = soup.find('article')

In [20]:
for tweet in tweets:
    spans = tweet.find_all("span")
    mars_weather = spans[4].get_text()

In [21]:
mars_weather

'InSight sol 674 (2020-10-19) low -96.0ºC (-140.8ºF) high -7.4ºC (18.6ºF)\nwinds from the SW at 5.9 m/s (13.1 mph) gusting to 18.5 m/s (41.3 mph)\npressure at 7.50 hPa'

In [22]:
# --------------------------

In [23]:
# Mars Facts

In [24]:
# make the URl
url = "https://space-facts.com/mars/"

In [25]:
# select right table

mars_table = pd.read_html(url)
final_table = mars_table[0]
final_table = final_table.rename(columns={0:'Characteristic', 1: "Value"})

final_table

         Characteristic                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
# convert table to HTML

mars_html = final_table.to_html(header=True, index =False)
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Characteristic</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
# --------------------------

In [28]:
# Mars Hemispheres

In [29]:
hemispheres = ['Cerberus Hemisphere Enhanced','Schiaparelli Hemisphere Enhanced','Syrtis Major Hemisphere Enhanced','Valles Marineris Hemisphere Enhanced']
hemispheres_url = []

for info in hemispheres: 
    url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(url)
    browser.is_element_present_by_text(info, wait_time=1)
    more_info = browser.find_link_by_partial_text(info)
    more_info.click()
    full_image = browser.find_by_id('wide-image-toggle')
    full_image.click()
    soup =bs (browser.html, 'html.parser')
    wide_image = soup.body.find('img', class_='wide-image')
    image_src = wide_image['src']
    image_url = f"https://astrogeology.usgs.gov{image_src}"
    hemispheres_url.append(image_url)

C:\Users\jimi_\AppData\Local\Programs\Python\Python39\lib\site-packages\splinter\driver\webdriver\__init__.py:490: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [30]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": hemispheres_url[0]},
    {"title": "Cerberus Hemisphere", "img_url":hemispheres_url[1]},
    {"title": "Schiaparelli Hemisphere", "img_url": hemispheres_url[2]},
    {"title": "Syrtis Major Hemisphere", "img_url": hemispheres_url[3]},]

hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]